@import "utils";
@import "fonts";
@import "typography";

body {
  background: $bgc-gray;
}

.container {
  margin: 0 auto;
}

.header {
  background-color: $bgc-nav-color;
  height: $desktop-nav-height;

  &__container {
    margin: 0 10px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $desktop-nav-height;
    margin: 0 20px;
  }
}

.nav {
  &__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    &--img {
      height: 60px;
      width: 60px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__end {
    //
  }

  &__home {
    background-image: url(../images/home-page.png);
    @include menu-item;
  }

  &__write {
    background-image: url(../images/pencil.png);
    @include menu-item;
  }

  &__message {
    background-image: url(../images/bell.png);
    @include menu-item;
  }

  &__login {
    position: relative;
    display: flex;
    align-items: center;

    &--logo {
      display: inline-block;
      background-image: url(../images/user.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 20px;
      width: 20px;
    }

    &--name {
      display: inline-block;
      margin-left: 5px;

      @media (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__home,
  &__write,
  &__message,
  &__login,
  &__burger-menu {
    margin: 0 5px;
    color: $c-text;
    font-size: $font-sz;
  }

  &__burger-menu {
    display: inline-block;
    padding: 5px;
  }
}

.burger-menu {
  &__item {
    position: relative;
    display: block;
  }

  &__item::before {
    position: absolute;
    content: "";
    top: -6px;
  }

  &__item::after {
    position: absolute;
    content: "";
    top: 6px;
  }

  &__item,
  &__item::before,
  &__item::after {
    @include burger-item;
  }
}

.is-logout {
  display: none;
}

.is-login {
  display: none;
}
