.nav {
  &__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    &--img {
      height: 60px;
      width: 60px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__end {
    //
  }

  &__home {
    background-image: url(../images/home-page.png);
    @include menu-item;
    @include mobile-screen;
  }

  &__write {
    background-image: url(../images/pencil.png);
    @include menu-item;
    @include mobile-screen;
  }

  &__message {
    position: relative;
    background-image: url(../images/bell.png);
    @include menu-item;
    @include mobile-screen;

    &--counter {
      position: absolute;
      top: -5px;
      right: -5px;
      background-image: url(../images/circled-3-50.png);
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      height: 15px;
      width: 15px;
    }
  }

  &__login {
    position: relative;
    display: flex;
    align-items: center;

    &--logo {
      display: inline-block;
      background-image: url(../images/user.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 20px;
      width: 20px;
      margin-left: 10px;

      @media (max-width: 1023px) {
        margin-right: 10px;
      }
    }

    &--img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;

      @media (max-width: 1023px) {
        margin-right: 0;
      }
    }

    &--name {
      display: inline-block;
      margin: 0 10px 0 5px;
      @include mobile-screen;
    }
  }

  &__home,
  &__write,
  &__message,
  &__login,
  &__burger-menu {
    margin: 0 5px;
    color: $c-text;
    font-size: $font-sz;
  }

  &__burger-menu {
    display: inline-block;
    padding: 5px;
  }
}
